footer.bg-primary.text-white.mt-5.py-4
  .container.text-center
    p.mb-1 &copy; #{actualYear} Beauty Smile. Todos los derechos reservados.
    p.mb-0
      | Contacto: 
      a.text-white(href='tel:+573159464491') +57 315 946 4491
      |  | Dirección: carrera 34A #51-70, Bucaramanga
